
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Raleway&display=swap');

@media (max-width: 768px) {
    /* styl dla ekranów o szerokości mniejszej niż 768 pikseli */
  }
  
  @media (min-width: 769px) {
    /* styl dla ekranów o szerokości większej niż 768 pikseli */
  }


  @media (max-width: 768px) {
    iframe {
      width: 100%;
      height: auto;
    }
  }
  

  

*::after, *::before {
    box-sizing: border-box;
}

*{box-sizing:border-box;}
.container{
   width: 1000px;
   padding:10px;
   
   margin:auto;
}

  
  .discordd img {
    margin-top: -2px;
    margin-left: -10px;
  }

  .links {
    display: flex;
    align-items: center;
  }
  
  .links a {
    margin-right: 10px;
  }
  
  .coffee-section {
    margin-left: 30px;
  }
  
  

.header {
    position: relative;
    height: 80vh;
    background: url(../imgs/background.jpg) no-repeat center center/cover;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .header-title {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  
  .header-stitle {
    font-size: 2rem;
  }
  
  @media (max-width: 768px) {
    .header {
      height: 50vh;
    }
    
    .header-title {
      font-size: 2.5rem;
    }
    
    .header-stitle {
      font-size: 1.5rem;
    }
  }
  
  @media (min-width: 1200px) {
    .header {
      height: 100vh;
    }
    
    .header-title {
      font-size: 6rem;
    }
    
    .header-stitle {
      font-size: 3rem;
    }
  }

:root {
    --blue: #007bff;
}

html {
    font-family: sans-serif;
}

html {
    line-height: 1.15;
}

html {
    -webkit-text-size-adjust: 100%;
}

html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a:not([href]):not([tabindex]):hover {
    color: inherit;
}

nav, footer, header {
    display: block;
}

:root {
    --indigo: #6610f2;
}

:root {
    --purple: #6f42c1;
}

:root {
    --pink: #e83e8c;
}

:root {
    --red: #dc3545;
}

:root {
    --orange: #fd7e14;
}

a:not([href]):not([tabindex]):hover {
    text-decoration: none;
}

:root {
    --yellow: #ffc107;
}

body {
    margin-left: 0;
}

:root {
    --green: #28a745;
}

body {
    margin-bottom: 0;
}

[type="button"]:not(:disabled) {
    cursor: pointer;
}

:root {
    --teal: #20c997;
}

:root {
    --cyan: #17a2b8;
}

:root {
    --white: #fff;
}

body {
    margin-right: 0;
}

body {
    margin-top: 0;
}

body {
    font-family: "Quicksand",sans-serif;
}

:root {
    --gray: #6c757d;
}

body {
    font-size: 1rem;
}

:root {
    --gray-dark: #343a40;
}

body {
    font-weight: 400;
}

:root {
    --primary: #007bff;
}

body {
    line-height: 1.5;
}

body {
    color: #212529;
}

:root {
    --secondary: #6c757d;
}

body {
    text-align: left;
}

body {
    background-color: #fff;
}

h6, ul, p, h1 {
    margin-top: 0;
}

h6, h1 {
    margin-bottom: .5rem;
}

:root {
    --success: #28a745;
}

:root {
    --info: #17a2b8;
}

:root {
    --warning: #ffc107;
}

:root {
    --danger: #dc3545;
}

:root {
    --light: #f8f9fa;
}

p, ul {
    margin-bottom: 1rem;
}

:root {
    --dark: #343a40;
}

:root {
    --breakpoint-xs: 0;
}

:root {
    --breakpoint-sm: 576px;
}

:root {
    --breakpoint-md: 768px;
}

:root {
    --breakpoint-lg: 62pc;
}

:root {
    --breakpoint-xl: 900pt;
}

:root {
    --font-family-sans-serif: "Quicksand",sans-serif;
}

:root {
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]) {
    color: inherit;
}

a {
    color: #007bff;
}

a {
    text-decoration: none;
}

a {
    background-color: transparent;
}

img {
    border-bottom-style: none;
}

img {
    vertical-align: middle;
}

img {
    border-left-style: none;
}

[type="reset"]:not(:disabled) {
    cursor: pointer;
}

img {
    border-right-style: none;
}

img {
    border-top-style: none;
}

a:hover {
    color: #0056b3;
}

a:hover {
    text-decoration: none;
}

button:not(:disabled) {
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

h6, h1 {
    margin-bottom: .5rem;
}

[type="submit"]:not(:disabled) {
    cursor: pointer;
}

h6, h1 {
    font-weight: 500;
}

h6, h1 {
    line-height: 1.2;
}

h1 {
    font-size: 2.5rem;
}

h6 {
    font-size: 1rem;
}

::-webkit-file-upload-button {
    font: inherit;
}

[class~=container] {
    width: 100%;
}

[class~=container] {
    padding-right: .15625in;
}

[class~=container] {
    padding-left: 15px;
}

[class~=container] {
    margin-right: auto;
}

[class~=container] {
    margin-left: auto;
}

a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus {
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
    outline: 0;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
}

@media (min-width: 576px) {
    [class~=container] {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    [class~=container] {
        max-width: 45pc;
    }
}

@media (min-width: 992px) {
    [class~=container] {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    [class~=container] {
        max-width: 11.875in;
    }
}

.col-md-10 {
    width: 100%;
}

.col-md-10 {
    padding-right: .9375pc;
}

.col-md-10 {
    padding-left: .15625in;
}

.col-md-10 {
    position: relative;
}

[class~=col-lg-8] {
    width: 100%;
}

[class~=col-lg-8] {
    padding-right: .9375pc;
}

[class~=col-lg-8] {
    padding-left: .15625in;
}

[class~=col-lg-8] {
    position: relative;
}

@media (min-width: 768px) {

    [class~=col-md-10] {
        -webkit-box-flex: 0;
    }

    [class~=col-md-10] {
        -webkit-flex: 0 0 83.33333%;
    }

    [class~=col-md-10] {
        -ms-flex: 0 0 83.33333%;
    }

    [class~=col-md-10] {
        flex: 0 0 83.33333%;
    }

    [class~=col-md-10] {
        max-width: 83.33333%;
    }
}

@media (min-width: 992px) {

    [class~=col-lg-8] {
        -webkit-box-flex: 0;
    }

    [class~=col-lg-8] {
        -webkit-flex: 0 0 66.66667%;
    }

    [class~=col-lg-8] {
        -ms-flex: 0 0 66.66667%;
    }

    [class~=col-lg-8] {
        flex: 0 0 66.66667%;
    }

    [class~=col-lg-8] {
        max-width: 66.66667%;
    }
}

[class~=was-validated] [class~=custom-control-input]:valid:focus:not(:checked) ~ [class~=custom-control-label]::before {
    border-left-color: #28a745;
}

[class~=was-validated] [class~=custom-control-input]:valid:focus:not(:checked) ~ [class~=custom-control-label]::before, [class~=custom-control-input][class~=is-valid]:focus:not(:checked) ~ [class~=custom-control-label]::before {
    border-bottom-color: #28a745;
}

[class~=was-validated] [class~=custom-control-input]:valid:focus:not(:checked) ~ [class~=custom-control-label]::before, [class~=custom-control-input][class~=is-valid]:focus:not(:checked) ~ [class~=custom-control-label]::before {
    border-right-color: #28a745;
}

[class~=was-validated] [class~=custom-control-input]:valid:focus:not(:checked) ~ [class~=custom-control-label]::before {
    border-top-color: #28a745;
}

[class~=custom-control-input][class~=is-valid]:focus:not(:checked) ~ [class~=custom-control-label]::before {
    border-top-color: #28a745;
}

[class~=custom-control-input][class~=is-valid]:focus:not(:checked) ~ [class~=custom-control-label]::before {
    border-left-color: #28a745;
}

[class~=was-validated] [class~=custom-control-input]:invalid:focus:not(:checked) ~ [class~=custom-control-label]::before {
    border-left-color: #dc3545;
}

[class~=was-validated] [class~=custom-control-input]:invalid:focus:not(:checked) ~ [class~=custom-control-label]::before {
    border-bottom-color: #dc3545;
}

[class~=was-validated] [class~=custom-control-input]:invalid:focus:not(:checked) ~ [class~=custom-control-label]::before {
    border-right-color: #dc3545;
}

[class~=was-validated] [class~=custom-control-input]:invalid:focus:not(:checked) ~ [class~=custom-control-label]::before {
    border-top-color: #dc3545;
}

[class~=custom-control-input][class~=is-invalid]:focus:not(:checked) ~ [class~=custom-control-label]::before {
    border-left-color: #dc3545;
}

[class~=custom-control-input][class~=is-invalid]:focus:not(:checked) ~ [class~=custom-control-label]::before {
    border-bottom-color: #dc3545;
}

[class~=custom-control-input][class~=is-invalid]:focus:not(:checked) ~ [class~=custom-control-label]::before {
    border-right-color: #dc3545;
}

[class~=custom-control-input][class~=is-invalid]:focus:not(:checked) ~ [class~=custom-control-label]::before {
    border-top-color: #dc3545;
}

[class~=btn-primary]:not(:disabled):not([class~=disabled]):active {
    color: #fff;
}

[class~=btn-primary]:not(:disabled):not([class~=disabled])[class~=active], [class~=btn-primary]:not(:disabled):not([class~=disabled]):active {
    background-color: #0062cc;
}

[class~=btn-primary]:not(:disabled):not([class~=disabled])[class~=active], [class~=btn-primary]:not(:disabled):not([class~=disabled]):active {
    border-left-color: #005cbf;
}

[class~=btn-primary]:not(:disabled):not([class~=disabled]):active, [class~=btn-primary]:not(:disabled):not([class~=disabled])[class~=active] {
    border-bottom-color: #005cbf;
}

[class~=btn-primary]:not(:disabled):not([class~=disabled])[class~=active], [class~=btn-primary]:not(:disabled):not([class~=disabled]):active {
    border-right-color: #005cbf;
}

[class~=btn-primary]:not(:disabled):not([class~=disabled])[class~=active]:focus, .btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(38,143,255,.5);
}

[class~=btn-primary]:not(:disabled):not([class~=disabled]):active, [class~=btn-primary]:not(:disabled):not([class~=disabled])[class~=active] {
    border-top-color: #005cbf;
}

[class~=btn-success]:not(:disabled):not([class~=disabled]):active, [class~=btn-primary]:not(:disabled):not([class~=disabled])[class~=active], [class~=btn-secondary]:not(:disabled):not([class~=disabled])[class~=active], .btn-secondary:not(:disabled):not(.disabled):active {
    color: #fff;
}

[class~=btn-secondary]:not(:disabled):not([class~=disabled])[class~=active], .btn-secondary:not(:disabled):not(.disabled):active {
    background-color: #545b62;
}

[class~=btn-secondary]:not(:disabled):not([class~=disabled])[class~=active], .btn-secondary:not(:disabled):not(.disabled):active {
    border-left-color: #4e555b;
}

[class~=btn-secondary]:not(:disabled):not([class~=disabled])[class~=active], .btn-secondary:not(:disabled):not(.disabled):active {
    border-bottom-color: #4e555b;
}

.btn-secondary:not(:disabled):not(.disabled):active, [class~=btn-secondary]:not(:disabled):not([class~=disabled])[class~=active] {
    border-right-color: #4e555b;
}

.btn-secondary:not(:disabled):not(.disabled):active, [class~=btn-secondary]:not(:disabled):not([class~=disabled])[class~=active] {
    border-top-color: #4e555b;
}

[class~=btn-success]:not(:disabled):not([class~=disabled])[class~=active], [class~=btn-success]:not(:disabled):not([class~=disabled]):active {
    background-color: #1e7e34;
}

[class~=btn-success]:not(:disabled):not([class~=disabled]):active, [class~=btn-success]:not(:disabled):not([class~=disabled])[class~=active] {
    border-left-color: #1c7430;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(130,138,145,.5);
}

[class~=btn-success]:not(:disabled):not([class~=disabled]):active, [class~=btn-success]:not(:disabled):not([class~=disabled])[class~=active] {
    border-bottom-color: #1c7430;
}

[class~=btn-success]:not(:disabled):not([class~=disabled]):active, [class~=btn-success]:not(:disabled):not([class~=disabled])[class~=active] {
    border-right-color: #1c7430;
}

[class~=btn-success]:not(:disabled):not([class~=disabled]):active, [class~=btn-success]:not(:disabled):not([class~=disabled])[class~=active] {
    border-top-color: #1c7430;
}

[class~=btn-info]:not(:disabled):not([class~=disabled]):active, [class~=btn-success]:not(:disabled):not([class~=disabled])[class~=active] {
    color: #fff;
}

[class~=btn-info]:not(:disabled):not([class~=disabled]):active, [class~=btn-info]:not(:disabled):not([class~=disabled])[class~=active] {
    background-color: #117a8b;
}

[class~=btn-info]:not(:disabled):not([class~=disabled]):active, [class~=btn-info]:not(:disabled):not([class~=disabled])[class~=active] {
    border-left-color: #10707f;
}

[class~=btn-info]:not(:disabled):not([class~=disabled])[class~=active], [class~=btn-info]:not(:disabled):not([class~=disabled]):active {
    border-bottom-color: #10707f;
}

[class~=btn-info]:not(:disabled):not([class~=disabled]):active, [class~=btn-info]:not(:disabled):not([class~=disabled])[class~=active] {
    border-right-color: #10707f;
}

[class~=btn-info]:not(:disabled):not([class~=disabled])[class~=active], [class~=btn-info]:not(:disabled):not([class~=disabled]):active {
    border-top-color: #10707f;
}

[class~=btn-warning]:not(:disabled):not([class~=disabled]):active, .btn-warning:not(:disabled):not(.disabled).active {
    background-color: #d39e00;
}

[class~=btn-secondary]:not(:disabled):not([class~=disabled])[class~=active]:focus {
    box-shadow: 0 0 0 .2rem rgba(130,138,145,.5);
}

[class~=btn-warning]:not(:disabled):not([class~=disabled]):active, .btn-warning:not(:disabled):not(.disabled).active {
    border-left-color: #c69500;
}

.btn-warning:not(:disabled):not(.disabled).active, [class~=btn-warning]:not(:disabled):not([class~=disabled]):active {
    border-bottom-color: #c69500;
}

.btn-warning:not(:disabled):not(.disabled).active, [class~=btn-warning]:not(:disabled):not([class~=disabled]):active {
    border-right-color: #c69500;
}

.btn-warning:not(:disabled):not(.disabled).active, [class~=btn-warning]:not(:disabled):not([class~=disabled]):active {
    border-top-color: #c69500;
}

[class~=btn-info]:not(:disabled):not([class~=disabled])[class~=active] {
    color: #fff;
}

    [class~=btn-success]:not(:disabled):not([class~=disabled])[class~=active]:focus, [class~=btn-success]:not(:disabled):not([class~=disabled]):active:focus {
        box-shadow: 0 0 0 .2rem rgba(72,180,97,.5);
    }

[class~=btn-info]:not(:disabled):not([class~=disabled]):active:focus {
    box-shadow: 0 0 0 .2rem rgba(58,176,195,.5);
}

.btn-warning:not(:disabled):not(.disabled).active, [class~=btn-warning]:not(:disabled):not([class~=disabled]):active {
    color: #212529;
}

                [class~=btn-danger]:not(:disabled):not([class~=disabled]):active, [class~=btn-danger]:not(:disabled):not([class~=disabled])[class~=active] {
                    color: #fff;
                }

[class~=btn-danger]:not(:disabled):not([class~=disabled]):active {
    background-color: #bd2130;
}

[class~=btn-danger]:not(:disabled):not([class~=disabled])[class~=active], [class~=btn-danger]:not(:disabled):not([class~=disabled]):active {
    border-left-color: #b21f2d;
}

[class~=btn-danger]:not(:disabled):not([class~=disabled])[class~=active], [class~=btn-danger]:not(:disabled):not([class~=disabled]):active {
    border-bottom-color: #b21f2d;
}

[class~=btn-danger]:not(:disabled):not([class~=disabled]):active, [class~=btn-danger]:not(:disabled):not([class~=disabled])[class~=active] {
    border-right-color: #b21f2d;
}

.btn-info:not(:disabled):not(.disabled).active:focus {
    box-shadow: 0 0 0 .2rem rgba(58,176,195,.5);
}

[class~=btn-warning]:not(:disabled):not([class~=disabled])[class~=active]:focus, [class~=btn-warning]:not(:disabled):not([class~=disabled]):active:focus {
    box-shadow: 0 0 0 .2rem rgba(222,170,12,.5);
}

[class~=btn-danger]:not(:disabled):not([class~=disabled]):active, [class~=btn-danger]:not(:disabled):not([class~=disabled])[class~=active] {
    border-top-color: #b21f2d;
}

[class~=btn-danger]:not(:disabled):not([class~=disabled])[class~=active] {
    background-color: #bd2130;
}

[class~=btn-light]:not(:disabled):not([class~=disabled]):active, [class~=btn-light]:not(:disabled):not([class~=disabled])[class~=active] {
    color: #212529;
}

[class~=btn-light]:not(:disabled):not([class~=disabled]):active, [class~=btn-light]:not(:disabled):not([class~=disabled])[class~=active] {
    background-color: #dae0e5;
}

[class~=btn-light]:not(:disabled):not([class~=disabled])[class~=active], [class~=btn-light]:not(:disabled):not([class~=disabled]):active {
    border-left-color: #d3d9df;
}

.btn-danger:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(225,83,97,.5);
}

[class~=btn-light]:not(:disabled):not([class~=disabled]):active, [class~=btn-light]:not(:disabled):not([class~=disabled])[class~=active] {
    border-bottom-color: #d3d9df;
}

[class~=btn-light]:not(:disabled):not([class~=disabled]):active, [class~=btn-light]:not(:disabled):not([class~=disabled])[class~=active] {
    border-right-color: #d3d9df;
}

[class~=btn-light]:not(:disabled):not([class~=disabled])[class~=active], [class~=btn-light]:not(:disabled):not([class~=disabled]):active {
    border-top-color: #d3d9df;
}

[class~=btn-dark]:not(:disabled):not([class~=disabled]):active {
    color: #fff;
}

[class~=btn-dark]:not(:disabled):not([class~=disabled]):active, [class~=btn-dark]:not(:disabled):not([class~=disabled])[class~=active] {
    background-color: #1d2124;
}

[class~=btn-dark]:not(:disabled):not([class~=disabled]):active, [class~=btn-dark]:not(:disabled):not([class~=disabled])[class~=active] {
    border-left-color: #171a1d;
}

[class~=btn-dark]:not(:disabled):not([class~=disabled])[class~=active], [class~=btn-dark]:not(:disabled):not([class~=disabled]):active {
    border-bottom-color: #171a1d;
}

[class~=btn-dark]:not(:disabled):not([class~=disabled]):active, [class~=btn-dark]:not(:disabled):not([class~=disabled])[class~=active] {
    border-right-color: #171a1d;
}

[class~=btn-outline-primary]:not(:disabled):not([class~=disabled]):active, [class~=btn-dark]:not(:disabled):not([class~=disabled])[class~=active] {
    color: #fff;
}

[class~=btn-dark]:not(:disabled):not([class~=disabled])[class~=active], [class~=btn-dark]:not(:disabled):not([class~=disabled]):active {
    border-top-color: #171a1d;
}

[class~=btn-outline-primary]:not(:disabled):not([class~=disabled]):active {
    background-color: #007bff;
}

[class~=btn-outline-primary]:not(:disabled):not([class~=disabled]):active {
    border-left-color: #007bff;
}

[class~=btn-danger]:not(:disabled):not([class~=disabled])[class~=active]:focus {
    box-shadow: 0 0 0 .2rem rgba(225,83,97,.5);
}

[class~=btn-outline-primary]:not(:disabled):not([class~=disabled]):active {
    border-bottom-color: #007bff;
}

[class~=btn-light]:not(:disabled):not([class~=disabled]):active:focus, [class~=btn-light]:not(:disabled):not([class~=disabled])[class~=active]:focus {
    box-shadow: 0 0 0 .2rem rgba(216,217,219,.5);
}

.btn-dark:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(82,88,93,.5);
}

[class~=btn-outline-primary]:not(:disabled):not([class~=disabled]):active {
    border-right-color: #007bff;
}

[class~=btn-outline-primary]:not(:disabled):not([class~=disabled]):active {
    border-top-color: #007bff;
}

[class~=btn-outline-secondary]:not(:disabled):not([class~=disabled]):active, [class~=btn-outline-primary]:not(:disabled):not([class~=disabled])[class~=active] {
    color: #fff;
}

[class~=btn-outline-primary]:not(:disabled):not([class~=disabled])[class~=active] {
    background-color: #007bff;
}

[class~=btn-outline-primary]:not(:disabled):not([class~=disabled])[class~=active] {
    border-left-color: #007bff;
}

[class~=btn-outline-secondary]:not(:disabled):not([class~=disabled])[class~=active], [class~=btn-outline-secondary]:not(:disabled):not([class~=disabled]):active {
    border-left-color: #6c757d;
}

[class~=btn-outline-primary]:not(:disabled):not([class~=disabled])[class~=active] {
    border-bottom-color: #007bff;
}

[class~=btn-outline-secondary]:not(:disabled):not([class~=disabled]):active, [class~=btn-outline-secondary]:not(:disabled):not([class~=disabled])[class~=active] {
    border-bottom-color: #6c757d;
}

[class~=btn-outline-primary]:not(:disabled):not([class~=disabled])[class~=active] {
    border-right-color: #007bff;
}

[class~=btn-outline-primary]:not(:disabled):not([class~=disabled])[class~=active] {
    border-top-color: #007bff;
}

[class~=btn-outline-secondary]:not(:disabled):not([class~=disabled])[class~=active], [class~=btn-outline-secondary]:not(:disabled):not([class~=disabled]):active {
    background-color: #6c757d;
}

[class~=btn-outline-secondary]:not(:disabled):not([class~=disabled])[class~=active], [class~=btn-outline-secondary]:not(:disabled):not([class~=disabled]):active {
    border-right-color: #6c757d;
}

[class~=btn-outline-secondary]:not(:disabled):not([class~=disabled])[class~=active], [class~=btn-outline-secondary]:not(:disabled):not([class~=disabled]):active {
    border-top-color: #6c757d;
}

[class~=btn-outline-secondary]:not(:disabled):not([class~=disabled])[class~=active], [class~=btn-outline-success]:not(:disabled):not([class~=disabled]):active {
    color: #fff;
}

[class~=btn-outline-success]:not(:disabled):not([class~=disabled]):active {
    background-color: #28a745;
}

[class~=btn-outline-success]:not(:disabled):not([class~=disabled]):active, [class~=btn-outline-success]:not(:disabled):not([class~=disabled])[class~=active] {
    border-left-color: #28a745;
}

[class~=btn-outline-success]:not(:disabled):not([class~=disabled])[class~=active], [class~=btn-outline-success]:not(:disabled):not([class~=disabled]):active {
    border-bottom-color: #28a745;
}

[class~=btn-outline-success]:not(:disabled):not([class~=disabled]):active, [class~=btn-outline-success]:not(:disabled):not([class~=disabled])[class~=active] {
    border-right-color: #28a745;
}

[class~=btn-outline-success]:not(:disabled):not([class~=disabled])[class~=active], [class~=btn-outline-success]:not(:disabled):not([class~=disabled]):active {
    border-top-color: #28a745;
}

[class~=btn-dark]:not(:disabled):not([class~=disabled])[class~=active]:focus {
    box-shadow: 0 0 0 .2rem rgba(82,88,93,.5);
}

[class~=btn-outline-success]:not(:disabled):not([class~=disabled])[class~=active] {
    color: #fff;
}

[class~=btn-outline-info]:not(:disabled):not([class~=disabled]):active, [class~=btn-outline-info]:not(:disabled):not([class~=disabled])[class~=active] {
    border-left-color: #17a2b8;
}

[class~=btn-outline-success]:not(:disabled):not([class~=disabled])[class~=active] {
    background-color: #28a745;
}

[class~=btn-outline-info]:not(:disabled):not([class~=disabled])[class~=active], [class~=btn-outline-info]:not(:disabled):not([class~=disabled]):active {
    border-bottom-color: #17a2b8;
}

[class~=btn-outline-info]:not(:disabled):not([class~=disabled]):active, [class~=btn-outline-info]:not(:disabled):not([class~=disabled])[class~=active] {
    border-right-color: #17a2b8;
}

[class~=btn-outline-info]:not(:disabled):not([class~=disabled])[class~=active], [class~=btn-outline-info]:not(:disabled):not([class~=disabled]):active {
    border-top-color: #17a2b8;
}

[class~=btn-outline-info]:not(:disabled):not([class~=disabled])[class~=active], [class~=btn-outline-info]:not(:disabled):not([class~=disabled]):active {
    color: #fff;
}

[class~=btn-outline-info]:not(:disabled):not([class~=disabled])[class~=active], [class~=btn-outline-info]:not(:disabled):not([class~=disabled]):active {
    background-color: #17a2b8;
}

[class~=btn-outline-warning]:not(:disabled):not([class~=disabled]):active, .btn-outline-warning:not(:disabled):not(.disabled).active {
    border-left-color: #ffc107;
}

[class~=btn-outline-primary]:not(:disabled):not([class~=disabled])[class~=active]:focus, [class~=btn-outline-primary]:not(:disabled):not([class~=disabled]):active:focus {
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.5);
}

.btn-outline-warning:not(:disabled):not(.disabled).active, [class~=btn-outline-warning]:not(:disabled):not([class~=disabled]):active {
    border-bottom-color: #ffc107;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, [class~=btn-outline-secondary]:not(:disabled):not([class~=disabled])[class~=active]:focus {
    box-shadow: 0 0 0 .2rem rgba(108,117,125,.5);
}

.btn-outline-warning:not(:disabled):not(.disabled).active, [class~=btn-outline-warning]:not(:disabled):not([class~=disabled]):active {
    color: #212529;
}

.btn-outline-warning:not(:disabled):not(.disabled).active, [class~=btn-outline-warning]:not(:disabled):not([class~=disabled]):active {
    background-color: #ffc107;
}

.btn-outline-warning:not(:disabled):not(.disabled).active, [class~=btn-outline-warning]:not(:disabled):not([class~=disabled]):active {
    border-right-color: #ffc107;
}

.btn-outline-warning:not(:disabled):not(.disabled).active, [class~=btn-outline-warning]:not(:disabled):not([class~=disabled]):active {
    border-top-color: #ffc107;
}

[class~=btn-outline-danger]:not(:disabled):not([class~=disabled]):active, [class~=btn-outline-danger]:not(:disabled):not([class~=disabled])[class~=active] {
    color: #fff;
}

[class~=btn-outline-danger]:not(:disabled):not([class~=disabled])[class~=active], [class~=btn-outline-danger]:not(:disabled):not([class~=disabled]):active {
    background-color: #dc3545;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(40,167,69,.5);
}

[class~=btn-outline-danger]:not(:disabled):not([class~=disabled])[class~=active], [class~=btn-outline-danger]:not(:disabled):not([class~=disabled]):active {
    border-left-color: #dc3545;
}

[class~=btn-outline-danger]:not(:disabled):not([class~=disabled])[class~=active], [class~=btn-outline-danger]:not(:disabled):not([class~=disabled]):active {
    border-bottom-color: #dc3545;
}

[class~=btn-outline-danger]:not(:disabled):not([class~=disabled])[class~=active], [class~=btn-outline-danger]:not(:disabled):not([class~=disabled]):active {
    border-right-color: #dc3545;
}

[class~=btn-outline-danger]:not(:disabled):not([class~=disabled])[class~=active], [class~=btn-outline-danger]:not(:disabled):not([class~=disabled]):active {
    border-top-color: #dc3545;
}

[class~=btn-outline-light]:not(:disabled):not([class~=disabled]):active {
    color: #212529;
}

[class~=btn-outline-light]:not(:disabled):not([class~=disabled]):active, .btn-outline-light:not(:disabled):not(.disabled).active {
    background-color: #f8f9fa;
}

.btn-outline-light:not(:disabled):not(.disabled).active {
    color: #212529;
}

[class~=btn-outline-light]:not(:disabled):not([class~=disabled]):active, .btn-outline-light:not(:disabled):not(.disabled).active {
    border-left-color: #f8f9fa;
}

.btn-outline-light:not(:disabled):not(.disabled).active, [class~=btn-outline-light]:not(:disabled):not([class~=disabled]):active {
    border-bottom-color: #f8f9fa;
}

[class~=btn-outline-light]:not(:disabled):not([class~=disabled]):active, .btn-outline-light:not(:disabled):not(.disabled).active {
    border-right-color: #f8f9fa;
}

.btn-outline-light:not(:disabled):not(.disabled).active, [class~=btn-outline-light]:not(:disabled):not([class~=disabled]):active {
    border-top-color: #f8f9fa;
}

[class~=btn-outline-dark]:not(:disabled):not([class~=disabled]):active {
    color: #fff;
}

[class~=btn-outline-success]:not(:disabled):not([class~=disabled])[class~=active]:focus {
    box-shadow: 0 0 0 .2rem rgba(40,167,69,.5);
}

[class~=btn-outline-info]:not(:disabled):not([class~=disabled])[class~=active]:focus, [class~=btn-outline-info]:not(:disabled):not([class~=disabled]):active:focus {
    box-shadow: 0 0 0 .2rem rgba(23,162,184,.5);
}

[class~=btn-outline-dark]:not(:disabled):not([class~=disabled]):active, [class~=btn-outline-dark]:not(:disabled):not([class~=disabled])[class~=active] {
    background-color: #343a40;
}

[class~=btn-outline-dark]:not(:disabled):not([class~=disabled])[class~=active] {
    color: #fff;
}

[class~=btn-outline-dark]:not(:disabled):not([class~=disabled]):active, [class~=btn-outline-dark]:not(:disabled):not([class~=disabled])[class~=active] {
    border-left-color: #343a40;
}

[class~=btn-outline-dark]:not(:disabled):not([class~=disabled])[class~=active], [class~=btn-outline-dark]:not(:disabled):not([class~=disabled]):active {
    border-bottom-color: #343a40;
}

[class~=btn-outline-dark]:not(:disabled):not([class~=disabled])[class~=active], [class~=btn-outline-dark]:not(:disabled):not([class~=disabled]):active {
    border-right-color: #343a40;
}

[class~=btn-outline-dark]:not(:disabled):not([class~=disabled]):active, [class~=btn-outline-dark]:not(:disabled):not([class~=disabled])[class~=active] {
    border-top-color: #343a40;
}

[class~=btn-outline-warning]:not(:disabled):not([class~=disabled])[class~=active]:focus, .btn-outline-warning:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(255,193,7,.5);
}

[class~=btn-outline-danger]:not(:disabled):not([class~=disabled])[class~=active]:focus, .btn-outline-danger:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(220,53,69,.5);
}

    [class~=btn-outline-light]:not(:disabled):not([class~=disabled])[class~=active]:focus, [class~=btn-outline-light]:not(:disabled):not([class~=disabled]):active:focus {
        box-shadow: 0 0 0 .2rem rgba(248,249,250,.5);
    }

.btn-outline-dark:not(:disabled):not(.disabled).active:focus, [class~=btn-outline-dark]:not(:disabled):not([class~=disabled]):active:focus {
    box-shadow: 0 0 0 .2rem rgba(52,58,64,.5);
}

[class~=custom-control-input]:focus:not(:checked) ~ [class~=custom-control-label]::before {
    border-left-color: #80bdff;
}

[class~=custom-control-input]:focus:not(:checked) ~ [class~=custom-control-label]::before {
    border-bottom-color: #80bdff;
}

[class~=custom-control-input]:focus:not(:checked) ~ [class~=custom-control-label]::before {
    border-right-color: #80bdff;
}

[class~=custom-control-input]:focus:not(:checked) ~ [class~=custom-control-label]::before {
    border-top-color: #80bdff;
}

[class~=custom-control-input]:not(:disabled):active ~ [class~=custom-control-label]::before {
    color: #fff;
}

[class~=custom-control-input]:not(:disabled):active ~ [class~=custom-control-label]::before {
    background-color: #b3d7ff;
}

[class~=custom-control-input]:not(:disabled):active ~ [class~=custom-control-label]::before {
    border-left-color: #b3d7ff;
}

[class~=custom-control-input]:not(:disabled):active ~ [class~=custom-control-label]::before {
    border-bottom-color: #b3d7ff;
}

[class~=custom-control-input]:not(:disabled):active ~ [class~=custom-control-label]::before {
    border-right-color: #b3d7ff;
}

[class~=custom-control-input]:not(:disabled):active ~ [class~=custom-control-label]::before {
    border-top-color: #b3d7ff;
}

[class~=nav-link]:hover, [class~=nav-link]:focus {
    text-decoration: none;
}

.nav-link {
    display: block;
}

.nav-link {
    padding-left: 1rem;
}

.nav-link {
    padding-bottom: .5rem;
}

.nav-link {
    padding-right: 1rem;
}

.nav-link {
    padding-top: .5rem;
}

.close:not(:disabled):not(.disabled):hover {
    opacity: .75;
}

[class~=close]:not(:disabled):not([class~=disabled]):focus {
    opacity: .75;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

[class~=mb-5] {
    margin-bottom: 3rem !important;
}

[class~=m-auto] {
    margin-left: auto !important;
}

[class~=m-auto] {
    margin-bottom: auto !important;
}

[class~=m-auto] {
    margin-right: auto !important;
}

[class~=m-auto] {
    margin-top: auto !important;
}

@media print {
    *::before, *, *::after {
        text-shadow: none !important;
    }

        *, *::before, *::after {
            box-shadow: none !important;
        }

    img {
        page-break-inside: avoid;
    }

    p {
        orphans: 3;
    }

    p {
        widows: 3;
    }

    a:not([class~=btn]) {
        text-decoration: underline;
    }

    @page {
        size: a3;
    }

    [class~=container] {
        min-width: 62pc !important;
    }

    body {
        min-width: 62pc !important;
    }
}

h1, h6 {
    font-weight: bold;
}

.title {
}

a:hover {
    color: #adb5bd;
}

h6, h1, p {
    color: #fff;
}

p {
    opacity: .9;
}

p {
    font-weight: 400;
}

p {
    letter-spacing: .6px;
}

a {
    color: #6c757d;
}

a {
    text-decoration: none;
}

[class~=page-navbar] {
    position: fixed;
}

    [class~=page-navbar] {
        top: 0;
    }

[class~=page-navbar] {
    z-index: 999;
}

[class~=page-navbar] {
    width: 100%;
}

[class~=page-navbar] {
    display: -webkit-box;
}

[class~=page-navbar] {
    display: -webkit-flex;
}

[class~=page-navbar] {
    display: -ms-flexbox;
}

[class~=page-navbar] {
    display: flex;
}

[class~=page-navbar] {
    height: 110px;
}

[class~=page-navbar] {
    -webkit-transition: all,.5s;
}

[class~=page-navbar] {
    transition: all,.5s;
}

@media (prefers-reduced-motion: reduce) {
    [class~=page-navbar] {
        -webkit-transition: none;
    }

    [class~=page-navbar] {
        transition: none;
    }
}

[class~=page-navbar] [class~=nav-navbar] [class~=nav-link], [class~=page-navbar] [class~=nav-navbar] [class~=nav-item] {
    -webkit-box-flex: 1;
}

[class~=page-navbar] [class~=nav-navbar] [class~=nav-item], [class~=page-navbar] [class~=nav-navbar] [class~=nav-link] {
    -webkit-flex-grow: 1;
}

[class~=page-navbar] [class~=nav-navbar] [class~=nav-item], [class~=page-navbar] [class~=nav-navbar] [class~=nav-link] {
    -ms-flex-positive: 1;
}

[class~=page-navbar] [class~=nav-navbar] [class~=nav-link], [class~=page-navbar] [class~=nav-navbar] [class~=nav-link], [class~=page-navbar] [class~=nav-navbar] [class~=nav-item] {
    flex-grow: 1;
}

[class~=page-navbar] [class~=nav-navbar] [class~=nav-link], [class~=page-navbar] [class~=nav-navbar] [class~=nav-item] {
    text-align: center;
}

[class~=page-navbar] [class~=nav-navbar] {
    height: 100%;
}

    [class~=page-navbar] [class~=nav-navbar] [class~=nav-item], [class~=page-navbar] [class~=nav-navbar] [class~=nav-link] {
        -webkit-flex-basis: 0;
    }

[class~=page-navbar] [class~=nav-navbar] {
    list-style-type: none;
}

[class~=page-navbar] [class~=nav-navbar] {
    padding-left: 0;
}

    [class~=page-navbar] [class~=nav-navbar] [class~=nav-link], [class~=page-navbar] [class~=nav-navbar] [class~=nav-item] {
        -ms-flex-preferred-size: 0;
    }

    [class~=page-navbar] [class~=nav-navbar] [class~=nav-item], [class~=page-navbar] [class~=nav-navbar] [class~=nav-link] {
        flex-basis: 0;
    }

[class~=page-navbar] [class~=nav-navbar] {
    display: -webkit-box;
}

[class~=page-navbar] [class~=nav-navbar] {
    display: -webkit-flex;
}

[class~=page-navbar] [class~=nav-navbar] {
    display: -ms-flexbox;
}

[class~=page-navbar] [class~=nav-navbar] {
    display: flex;
}

[class~=page-navbar] [class~=nav-navbar] {
    -webkit-box-align: center;
}

[class~=page-navbar] [class~=nav-navbar] {
    -webkit-align-items: center;
}

[class~=page-navbar] [class~=nav-navbar] {
    -ms-flex-align: center;
}

[class~=page-navbar] [class~=nav-navbar] {
    align-items: center;
}

[class~=page-navbar] [class~=nav-navbar] [class~=nav-link] {
    color: #f8f9fa;
}

[class~=page-navbar] [class~=nav-navbar] [class~=nav-link] {
    font-weight: bold;
}

[class~=page-navbar] [class~=nav-navbar] [class~=nav-link] {
    text-decoration: none;
}

[class~=footer] {
    position: relative;
}

.footer .infos a, [class~=footer] [class~=links] a, [class~=footer] span {
    display: inline-block;
}

[class~=footer] {
    width: 100%;
}

[class~=footer] span {
    text-align: center;
}

.footer .infos a {
    color: inherit;
}

[class~=footer] {
    z-index: 999;
}

[class~=footer] {
    display: -webkit-box;
}

    [class~=footer] span {
        width: 2.5pc;
    }

    [class~=footer] [class~=links] a {
        margin-left: .9375pc;
    }

    [class~=footer] [class~=links] a {
        margin-bottom: 0;
    }

[class~=footer] {
    display: -webkit-flex;
}

[class~=footer] {
    display: -ms-flexbox;
}

[class~=footer] {
    display: flex;
}

    [class~=footer] [class~=links] a {
        margin-right: .9375pc;
    }

[class~=footer] {
    padding-left: 0;
}

[class~=footer] [class~=links] a {
    margin-top: 0;
}

[class~=footer] [class~=infos], [class~=footer] [class~=links] a {
    color: #fff;
}

[class~=footer] [class~=infos], [class~=footer] [class~=links] a {
    opacity: 1;
}

[class~=footer] {
    padding-bottom: 15pt;
}

[class~=footer] {
    padding-right: 0;
}

    [class~=footer] [class~=infos], [class~=footer] [class~=links] a {
        font-size: 10.5pt;
    }

    [class~=footer] [class~=infos] {
        text-align: right;
    }

    [class~=footer] [class~=links] a:first-child {
        margin-left: 0;
    }

[class~=footer] {
    padding-top: 15pt;
}

[class~=footer] {
    margin-top: 50px;
}

    [class~=footer] [class~=links], [class~=footer] [class~=infos] {
        width: 50%;
    }

    [class~=footer] [class~=infos] {
        margin-bottom: -1px;
    }

[class~=footer] {
    -webkit-box-align: center;
}

    [class~=footer] [class~=infos], [class~=footer] [class~=links] {
        padding-left: 3pt;
    }

    [class~=footer] [class~=infos], [class~=footer] [class~=links] {
        padding-bottom: 0;
    }

[class~=footer] {
    -webkit-align-items: center;
}

[class~=footer] {
    -ms-flex-align: center;
}

    [class~=footer] [class~=links], [class~=footer] [class~=infos] {
        padding-right: 3pt;
    }

    [class~=footer] [class~=infos], [class~=footer] [class~=links] {
        padding-top: 0;
    }

    [class~=footer] [class~=links] {
        text-align: left;
    }

[class~=footer] {
    align-items: center;
}

@media (max-width: 991.98px) {
    [class~=footer] [class~=infos], .footer .links {
        width: 100%;
    }

    .footer .links, [class~=footer] [class~=infos] {
        text-align: center;
    }

    [class~=footer] {
        -webkit-box-orient: vertical;
    }

        .footer .links, [class~=footer] [class~=infos] {
            margin-left: 0;
        }

        [class~=footer] [class~=infos], .footer .links {
            margin-bottom: .052083333in;
        }

        .footer .links, [class~=footer] [class~=infos] {
            margin-right: 0;
        }

        .footer .links, [class~=footer] [class~=infos] {
            margin-top: .052083333in;
        }

    [class~=footer] {
        -webkit-box-direction: normal;
    }

        [class~=footer] span {
            display: none;
        }

    [class~=footer] {
        -webkit-flex-direction: column;
    }

    [class~=footer] {
        -ms-flex-direction: column;
    }

    [class~=footer] {
        flex-direction: column;
    }
}

[class~=header] [class~=overlay], [class~=header] [class~=header-content] {
    position: absolute;
}

[class~=header] [class~=overlay] {
    left: 0;
}

[class~=header] [class~=overlay] {
    top: 0;
}

[class~=header] [class~=header-content] [class~=header-title] {
    margin-top: .15625in;
}

[class~=header] [class~=header-content] [class~=header-title] {
    margin-bottom: 10px;
}

[class~=header] {
    z-index: 990;
}

    [class~=header] [class~=header-content] [class~=header-title] {
        font-weight: bold;
    }

[class~=header] {
    position: relative;
}

    [class~=header], [class~=header] [class~=overlay] {
        height: 100%;
    }

[class~=header] {
    min-height: 37.5pc;
}

[class~=header] {
    text-align: center;
}

    [class~=header] [class~=overlay] {
        width: 100%;
    }

    [class~=header] {
        color: #fff;
    }

[class~=header] {
    background-image: url("../imgs/header.jpg");
}

    [class~=header] [class~=overlay] {
        background-image: -webkit-radial-gradient(48% 42%,140% 110%,rgba(33,37,41,.5),rgba(33,37,41,.6),rgba(33,37,41,.7),rgba(33,37,41,.8),rgba(33,37,41,.93),#212529 55%,#212529 200%);
    }

    [class~=header] [class~=overlay] {
        background-image: radial-gradient(140% 110% at 48% 42%,rgba(33,37,41,.5),rgba(33,37,41,.6),rgba(33,37,41,.7),rgba(33,37,41,.8),rgba(33,37,41,.93),#212529 55%,#212529 200%);
    }

[class~=header] {
    background-size: cover;
}

[class~=header] {
    background-position: center;
}

    [class~=header] [class~=header-content] {
        left: 50%;
    }

    [class~=header] [class~=header-content] {
        top: 50%;
    }

[class~=header] {
    -webkit-transition: .2s;
}

[class~=header] {
    transition: .2s;
}

    [class~=header] [class~=header-content] {
        -webkit-transform: translate(-50%,-50%);
    }

    [class~=header] [class~=header-content] {
        -ms-transform: translate(-50%,-50%);
    }

    [class~=header] [class~=header-content] {
        transform: translate(-50%,-50%);
    }

[class~=header] {
    -webkit-transition-timing-function: linear;
}

[class~=header] {
    transition-timing-function: linear;
}

[class~=header-title] {
    font-size: 2.4rem;
}

[class~=header-title] {
    font-weight: bold;
}

[class~=header-title] {
    opacity: .8;
}

body, html {
    height: 100%;
}

[class~=page-container] {
    text-align: center;
}

[class~=page-container] {
    padding-left: 0;
}

[class~=page-container] {
    padding-bottom: 37.5pt;
}

[class~=page-container] {
    padding-right: 0;
}

[class~=page-container] {
    padding-top: 37.5pt;
}

body[class~=dark-theme] {
    background: #212529;
}
